body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

navbar {
    background-color: #000000;
}

/* Netflix Logo */

.logo-nav {
    object-fit: cover;
    width: 100px;
    max-height: 100%;
    padding-left: 10px;
    padding-top: 0px;
}

/* LINKS */

.link {
    padding: 50px;
}

.sub-links ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.sub-links a {
    color: var(--dark);
    text-decoration: none;
}

.logos a {
    padding: 10px;
}

footer {
    padding: 20px;
    text-align: center;
    color: var(--dark);
    margin: 10px;
}